<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("partials/header", {title: "Productos"}) %>
</head>

<body>
  <div class="bigDiv">
    <h1>Productos</h1>
    <a href="/carritos">Ir al carrito</a> <br />
    <a href="/ordenes">Ver órdenes</a> <br />
    <a href="/chat">Ir al chat</a> <br />
    <a href="/config">Ver configuración</a> <br />
    <br/>
    <a href="/api/carritos">Ver carrito (json)</a><br/>
    <a href="/api/productos">Ver productos (json)</a><br/>
    <a href="/api/ordenes">Ver ordenes (json)</a><br/>

    <form action="/logout" method="post">
      <input type="submit" value="Desloguearse" />
    </form>
    <table class="centeredTable">
      <% for( let i = 0; i < productos.length; i++ ) { %>
      <tr>
        <td colspan="2">
          <span>--------------------------------------------------</span>
        </td>
      </tr>
      <tr>
        <td><%=productos[i].nombre%></td>
        <td rowspan="2"><img src=<%=productos[i].thumbnail%>></td>
        <td>
          <form action="/api/carritos/" method="post">
            <input type="hidden" name="email" value=<%=user.email%> />
            <input type="hidden" name="idProd" value=<%=productos[i].id%> />
            <%if(categoria) {%>
            <input type="hidden" name="categoria" value=<%=productos[i].categoria%> />
            <%}%>
            <input type="submit" value="Agregar al carrito" />
          </form>
        </td>
      </tr>
      <tr>
        <td><%=productos[i].descripcion%></td>
        <td>$<%=productos[i].precio%></td>
        <td><%=productos[i].categoria%></td>
      </tr>
      <% } %>
      <tr>
        <td colspan="2">
          <span>--------------------------------------------------</span>
        </td>
      </tr>
    </table>

  </div>
</body>

</html>